body {
  background: linear-gradient(100deg, #F3889E, #84B8C9);
  -webkit-animation: ColorChange 3s ease infinite;
  -moz-animation: ColorChange 3s ease infinite;
  animation: ColorChange 3s ease infinite;
  min-height: 100%;
}

@-webkit-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}
@keyframes AnimationName { 
    0%{background-position:53% 0%}
    50%{background-position:48% 100%}
    100%{background-position:53% 0%}
}

#brand {
  font-size: 35px;
  font-family: Futura;
}
#brand:hover {
  color: #F3889E !important;
}
.navbar {
  border-radius: 0%;
}
.navText {
  color: #fff !important;
}
.menuText:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  color: #84B8C9 !important;
} 
@media (max-width: 500px){
  #brand {
    font-size: 20px !important;
    line-height: 22px;
  }
}
.bodyMain {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}
.musicMain {
  width: 86%;
  text-align: center;
  margin: 0 auto;
}
.img-fluid {
  width: 100%;
}
.img-fluid:hover {
  opacity: .7;
}
.aboutContainer {
  width: 80%;
}
.jumbotron {
  padding-top: 0;
}
.footer {
  padding-top: 15px;
  height: 80px;
  margin: 0 auto;
  width: 100%;
  background-color: #333;
}
.footerText {
  color: #fff;
  font-family: Futura;
  font-weight: 100;
  display: inline;
}
.footerText:hover {
  color: #F3889E !important;
}
.social {
  text-align: right;
}
.socialIcon {
  color: #fff;
}
.socialIcon:hover {
  color: #84B8C9 !important;
}